      <!-- <div class="row mb-0" style="text-align: center; background-color: darkgray; bottom: 0; position: absolute; width:100%">
            <p><i class="trademark icon"></i>tradeMark 2019</p> 
      </div> -->
     
    </body>
</html>
