<!DOCTYPE html>
<html>

<head>
    <title>CoolParks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>


    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>



        <div id="landing-header">
            <div class="title">
                <p>Welcome to CoolParks</p>
            </div>

            <div class="container">

                <header class="jumbotron">

                    <div class="container">
                        <p><em>Berliners! Berlin visitors! Discover a green heaven at your door step!</em></p>
                        <p><em>There are hundreds of parks and gardens in Berlin that offer refuge from the speed and
                            bustling activity of a thriving metropolis. One of the greenest cities in the world, you can
                            stroll through the vast central Tiergarten, enjoy the baroque grounds of Charlottenburg
                            Palace Gardens or take a walk in the fashionable Mauerpark. A beautiful and relaxing place
                            close to nature is never far away in Berlin.</em></p>
                    </div>
                </header>
            </div>
            <a href="/parks" class="btn btn-lg btn-success">View all parks</a>
        </div>



        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>