<%- include ../partials/header %>

<div class="container">
    <div class="raw">
        <h1>Add a new park to our list</h1>
        <a href="/parks" class="btn btn-success">Go back</a>
        <div style="width:30%; margin: 25px auto;">
            <form action="/parks" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="description" rows="10"
                        placeholder="tell us about this park"></textarea>
                </div>
                <div class="form-group">
                    <a id="btn" class="" href="#">add more images</a>
                </div>
                <div class="form-group" id="form"></div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    (function () {
        var btn = document.getElementById('btn');
        var form = document.getElementById('form');
        var addInput = function () {
            var input = document.createElement("input");
            input.class = 'from-control';
            input.type = 'text';
            input.name = 'images';
            input.placeholder = 'Add one more image';
            form.appendChild(input);
        };
        btn.addEventListener('click', function () {
            addInput();
        }.bind(this));
    })();
</script>